.text-decorator-none{
    text-decoration: none;
}

.alingcards-listaPostagem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-listaPostagem{
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    
}

.btnAtualizarLista{
    margin-right: 20px !important;
    background-color: rgb(225, 150, 207) !important;
}

.btnDeletarLista{
    margin-left: 20px !important;
    background-color: rgb(136, 95, 174) !important;
}